# Node.js dependencies
node_modules/
sportschat-backend/node_modules/
sportschat-frontend/node_modules/

# Build output
sportschat-frontend/build/
sportschat-backend/build/

# Environment variables
.env

# Editor settings
.vscode/
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk files
Thumbs.db
ehthumbs.db

# Optional: Ignore backend coverage reports or database dumps
coverage/
*.sqlite
*.sql

# React dev server cache
sportschat-frontend/.cache


how c580232
